Programacion Estructurada Basica/.idea
Programacion Estructurada Basica/cmake-build-debug
Programacion Estructurada Basica/cmake-build-debug/*
Programacion Estructurada Basica/build
Programacion Estructurada Basica/build/*
Programacion Estructurada Basica/cmake_install.cmake
.vscode/*
.vscode/*.*
.vscode/settings.json
Programacion Estructurada Basica/.vscode
Programacion Estructurada Basica/CMakeLists.txt
